
@{
    ViewBag.Title = "AlbumView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var files = ViewBag.h;
    //var path = ViewBag.path;
}

<h2>AlbumView</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $("[data-fancybox]").fancybox({
            afterClose: function () {
                history.go(0);
            }
        });
    });
</script>
<div class="site-section">
    <div class="container gallery-container">
        <div class="tz-gallery">
            <div class="row">
                @{
                    foreach (var image in ViewBag.Libs)
                    {
                        <div class="col-sm-6 col-md-3">
                            <a href="~/Home/ShowPics?bigPath=@Url.Content(image.bigPath)"
                               data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : false,
                                                            "css" : {"width" : "800","height" : "500"}}}'>

                                <img src=@Url.Content(image.smPath) class="img-fluid img-thumbnail" alt="" />
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
