
@{
    ViewBag.Title = "Create1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create1</h2>

<script type="text/javascript">
    $("body").on("click", ".close", function (evt) {
        let id = '#' + evt.target.id;
        let idd = $(id).parent()[0].id;
        let iddname = $('#' + idd).attr('name');

        console.log(id);
        console.log(idd);
        console.log(iddname);

        // indexOf method in object array
        let pos = array.map(function (e) {
            return e.name;
        }).indexOf(iddname);

        // delete array
        array.splice(pos, 1);

        //let i = 0;
        //for (let pic of array) {
        //    if (pic.name == iddname)
        //        break;
        //    else
        //        i++;
        //}
        //console.log(i);


        // 依照檔名刪除陣列
        fd.delete(iddname);
        $('#' + idd).remove();
    });

</script>

<div id="DIV1">
    <button class="btn btn-outline-success" onclick="Upload()">Upload</button>
</div>
<div id="DIV2">
    <input type="text" class="form-control" id="filename" placeholder="輸入相簿名稱" value="">
</div>
<div id="dropDIV" ondragover="dragoverHandler(event)" ondrop="dropHandler(event)">
    <div style="text-align:center">Drop files here</div>
    <div id="imgDIV"></div>
</div>

